<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>JARVIS</b> framework</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Đăng ký thành viên</p>

            <form name="form" ng-submit="$ctrl.register(form)" ng-validate="$ctrl.validationOptions">
                <div class="form-group has-feedback">
                    <input type="text" ng-model="$ctrl.identity.fullName" name="fullName" jv-autofocus class="form-control" placeholder="Họ tên" />
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" ng-model="$ctrl.identity.username" name="username" class="form-control" placeholder="Email hoặc tên tài khoản" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" ng-model="$ctrl.identity.password" name="password" class="form-control" placeholder="Mật khẩu">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" ng-model="$ctrl.identity.repassword" name="repassword" class="form-control" placeholder="Nhập lại mật khẩu">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row margin-bottom-15">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-success btn-block"><i class="fa fa-signin"></i> Đăng ký</button>
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-signin"></i> Đăng nhập bằng Facebook</button>
                        <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-signin"></i> Đăng nhập bằng Google</button>
                    </div>
                </div>
            </form>

            <div class="text-center">
                <a ui-sref="identity.auth.login">Đăng nhập</a><br>
            </div>
        </div>
    </div>
</div>