<div class="modal-header bg-blue">
    <button type="button" class="btn btn-danger pull-right btn-close" ng-click="$ctrl.close()"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Chọn chi nhánh</h4>
</div>

<div class="modal-body no-padding modal-body-scroll">
    <table class="table table-hover">
        <tbody>
            <tr ng-repeat="item in $ctrl.tenants" ng-click="$ctrl.select(item)">
                <td><p class="margin-bottom-none" ng-bind-html="item.hierarchyName"></p></td>
                <td style="width: 40px;"><i class="fa fa-check text-success" ng-if="item.selected"></i></td>
            </tr>
        </tbody>
    </table>
</div>