<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>JARVIS</b> framework</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Đổi mật khẩu tài khoản</p>

        <form name="frmForgotPassword" ng-submit="$ctrl.changePassword(frmForgotPassword)" ng-validate="$ctrl.validationOptions">

            <div class="form-group has-feedback">
                <input type="password" jv-autofocus ng-model="$ctrl.identity.newPassword" name="new_password" id="new_password" class="form-control" placeholder="Nhập mật khẩu mới" title="Nhập mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" ng-model="$ctrl.confirmPassword" name="confirm_password" id="confirm_password" class="form-control" placeholder="Xác nhận mật khẩu mới" title="Xác nhận mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"><i class="fa fa-signin"></i> Đổi mật khẩu</button>
                </div>
            </div>
        </form>
    </div>
</div>
