<section class="content-header">
        <h1>Sửa chi nhánh</h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
            <li><a ui-sref="core.tenant.read">Quản lý chi nhánh</a></li>
            <li class="active">Chi nhánh</li>
        </ol>
    </section>
    
    <section class="content container-fluid">
        <form name="frmTenant" ng-submit="$ctrl.save(frmTenant)" ng-validate="$ctrl.validationOptions" class="form-horizontal">
            <div class="box box-solid box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin chi nhánh</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Tên miền</label>
                        <div class="col-md-10 col-sm-8">
                            <input name="hostName" type="text" ng-model="$ctrl.model.hostName" class="form-control" placeholder="Nhiều tên miền ngăn cách bởi dấu ;" jv-autofocus />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Mã số thuế</label>
                        <div class="col-md-10 col-sm-8">
                            <input name="taxCode" type="text" ng-model="$ctrl.model.info.taxCode" class="form-control" placeholder="Mã số thuế là duy nhất trên toàn bộ hệ thống" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Tên tiếng việt</label>
                        <div class="col-md-10 col-sm-8">
                            <input name="fullNameVi" type="text" ng-model="$ctrl.model.info.fullNameVi" class="form-control" placeholder="Tên chi nhánh viết bằng tiếng Việt" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Địa chỉ</label>
                        <div class="col-md-10 col-sm-8">
                            <input name="address" type="text" ng-model="$ctrl.model.info.address" class="form-control" placeholder="Địa chỉ chi nhánh" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Mã bảo mật</label>
                        <div class="col-md-10 col-sm-8">
                            <input name="secretKey" type="text" ng-model="$ctrl.model.info.secretKey" class="form-control" placeholder="Mã bảo mật của chi nhánh" />
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-offset-2 col-md-10 col-sm-offset-4 col-sm-8 text-right">
                    <button type="submit" class="btn btn-success" ng-disabled="$ctrl.loading"><i class="fa fa-save"></i> Lưu</button>
                    <a ui-sref="core.tenant.read" class="btn btn-danger" ng-disabled="$ctrl.loading"><i class="fa fa-close"></i> Hủy</a>
                </div>
            </div>
        </form>
    </section>