<div class="modal-header bg-light-blue">
    <h3 class="modal-title" id="modal-title">Logo doanh nghiệp</h3>
</div>
<div class="modal-body" id="modal-body">
    <!-- <p><a href="/templates/template-import-calls.csv"><i class="fa fa-download"></i> Tải mẫu CSV import cuộc gọi</a></p> -->
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="file" id="file" ng-file="$ctrl.files">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Xác nhận</button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Huỷ</button>
</div>