<header class="top-bar">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="nav in $ctrl.navigations" ng-class="{'dropdown': nav.items.length > 0}" uib-dropdown on-toggle="toggled(open)">
                        <a ng-if="nav.items.length === 0 && nav.url === null" ui-sref="{{nav.state}}" ui-sref-active="active"><i class="{{nav.icon}}"></i> <span>{{nav.name}}</span></a>
                        <a ng-if="nav.items.length === 0 && nav.url !== null" href="{{nav.url}}" ui-sref-active="active"><i class="{{nav.icon}}"></i> <span>{{nav.name}}</span></a>

                        <a ng-if="nav.items.length > 0 && nav.url === null" uib-dropdown-toggle href="javascript:void(0)">
                            <span>{{nav.name}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul ng-if="nav.items.length > 0 && nav.url === null" uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="item in nav.items">
                                <a ui-sref="{{item.state}}" ui-sref-active="active">
                                    <i class="fa fa-angle-double-right"></i>
                                    <span>{{item.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
