<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-lg"><img src="imgs/logo-white.png" /></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li ng-click="$ctrl.openTenants()">
                    <a href="javascript:void(0);">
                        <span>{{$ctrl.currentTenant.fullName}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:void(0);">
                        <span>Phiên sẽ hết hạn sau </span>
                        <span class="badge bg-red">10:30</span>
                    </a>
                </li> -->
                <li class="dropdown user user-menu">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img ng-src="{{$ctrl.context.userInfo.avatarPath ? $ctrl.context.userInfo.avatarPath : 'imgs/avatar.png'}}" class="user-image" alt="{{$ctrl.context.userInfo.fullName}}">
                        <span class="hidden-xs">{{$ctrl.context.userInfo.fullName}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="imgs/avatar.png" class="img-circle" alt="{{$ctrl.context.userInfo.fullName}}">
                            <p>
                                <span>{{$ctrl.context.userInfo.fullName}}</span>
                                <br />
                                <small>Sử dụng ngày {{$ctrl.context.createAt | date: 'dd/MM/yyyy'}}</small>
                            </p>
                        </li>
                        <!--<li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:void(0);">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:void(0);">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="javascript:void(0);">Friends</a>
                                </div>
                            </div>
                        </li>-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a ui-sref="identity.backend.profile" class="btn btn-default btn-flat">Tài khoản</a>
                            </div>
                            <div class="pull-right">
                                <button type="button" ng-click="$ctrl.logout()" class="btn btn-default btn-flat">Đăng xuất</button>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li>
                    <a href="javascript:void(0);" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>-->
            </ul>
        </div>
    </nav>
</header>

<script type="text/ng-template" id="modalChangeTenant.html">
    <div ng-class="$ctrl.context.theme">
        <div class="modal-header bg-green">
            <button type="button" class="close close-modal" ng-click="$ctrl.close()"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Chọn chi nhánh</h4>
        </div>

        <div class="modal-body no-padding modal-body-scroll">
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="item in $ctrl.tenants" ng-click="$ctrl.select(item)">
                        <td>{{item.hierarchyName}}</td>
                        <td style="width: 40px;"><i class="fa fa-check text-success" ng-if="item.selected"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>
