.text-left {
	text-align: left !important;
}

.tooltip {
	z-index: 9999999;
}

.main-sidebar,
.left-side {
	min-height: 0%;
}

.max-height-500px {
	height: 500px;
}

.padding-left-right-5px {
	padding: 0 5px;
}

.padding-left-right-10px {
	padding: 0 10px;
}

.margin-left-5px {
	margin-left: 5px;
}

.margin-left--10px {
	margin-left: -10px;
}

.margin-right--10px {
	margin-right: -10px;
}

.dou-control {
	width: 50%;
	float: left;
}

.hover:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}

/* Table */
table.table-hover tr td:hover {
	cursor: pointer;
}

table>tbody.scrollContent {
	display: block;
	overflow: auto;
	width: 100%;
}

table>thead.fixedHeader tr {
	display: block;
}

table>thead.fixedHeader th {
	width: 500px
}

table>thead.fixedHeader th+th {
	width: 240px
}

table>thead.fixedHeader th+th+th {
	width: 216px
}

table>tbody.scrollContent td {
	width: 500px
}

table>tbody.scrollContent td+td {
	width: 240px
}

table>tbody.scrollContent td+td+td {
	width: 200px
}

/* Tab */
/* .tab-content {
	overflow: auto;
} */

/* Layout */
.content-wrapper {
	min-height: 400px;
	-webkit-transition: min-height 0.2s ease-in-out;
	-o-transition: min-height 0.2s ease-in-out;
	transition: min-height 0.2s ease-in-out;
}

/* Chat */
.direct-chat-messages {
	padding: 10px 0;
}

.direct-chat-msg {
	padding: 5px 10px;
	margin: 0;
}

.direct-chat-text.active {
	background-color: #008d4c !important;
	border-color: #008d4c !important;
	color: white;
}

.direct-chat .right>.direct-chat-text.active:after,
.direct-chat .right>.direct-chat-text.active:before {
	border-left-color: #008d4c !important;
}

.direct-chat .left>.direct-chat-text.active:after,
.direct-chat .left>.direct-chat-text.active:before {
	border-right-color: #008d4c !important;
}

/* Loading bar */
#loading-bar .bar {
	background: #ff3f7a;
}

#loading-bar .peg {
	-moz-box-shadow: #ff3f7a 1px 0 6px 1px;
	-ms-box-shadow: #ff3f7a 1px 0 6px 1px;
	-webkit-box-shadow: #ff3f7a 1px 0 6px 1px;
	box-shadow: #ff3f7a 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
	border-top-color: #ff3f7a;
	border-left-color: #ff3f7a;
}


/* Box */
.box-header .box-title-15 {
	font-size: 15px;
}

.box-body {
	position: relative;
}

.box-body .loading {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(214, 214, 214, 0.78);
}

.dual-input input {
	width: calc(50% - 5px);
	float: left;
}

.dual-input:first-child {
	margin-right: 5px;
}


/* Call Detail */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/* .cols-2 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.cols-2 .col-left {
		margin-bottom: 15px;
	} */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.cols-2 .col-left {
		width: 540px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
	}

	.cols-2 .col-right {
		width: calc(100% - 540px);
		padding-left: 15px;
		padding-right: 15px;
		float: right;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

@media only screen and (min-width: 1600px) {
	.modal-lg-1200 {
		width: 1200px;
	}

	.modal-max {
		width: 90%;
		margin: 30px auto;
	}
}

@media only screen and (max-width: 1599px) {
	.modal-lg-1200 {
		width: 90%;
		margin: 30px auto;
	}

	.modal-max {
		width: 90%;
		margin: 30px auto;
	}
}

.modal .modal-header .btn-close {
	margin: -15px;
	width: 55px;
	height: 55px;
	border-radius: 0;
	font-size: 25px;
}

ul.navbar-nav>li>ul>li>a.active {
	color: #fff;
	text-decoration: none;
	background-color: #337ab7;
	outline: 0;
}

.box.call-data .box-body .direct-chat-messages {
	/* height: calc(100% - 255px); */
	height: 600px;
}