<section class="content-header">
    <h1>Thông tin doanh nghiệp</h1>
    <ol class="breadcrumb">
        <li><a ui-sref="summary.dashboard"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="admin.system">Hệ thống</a></li>
        <li>Thông tin doanh nghiệp</li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="box box-success">
        <div class="box-body">
            <form name="frmTenantInfo" ng-submit="$ctrl.save(frmTenantInfo)" ng-validate="$ctrl.validationOptions" class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mã số thuế</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{$ctrl.tenant.taxCode}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tên công ty</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{$ctrl.tenant.fullNameVi}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tên tiếng anh</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{$ctrl.tenant.fullNameEn}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tỉnh/Thành phố</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" jv-autofocus ng-model="$ctrl.tenant.city" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Quận/Huyện</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="$ctrl.tenant.district" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Địa chỉ</label>
                            <div class="col-md-8">
                                <p class="form-control-static">{{$ctrl.tenant.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" ng-repeat="metadata in $ctrl.tenant.metadata">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{metadata.name}}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="metadata.value" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
                        <a ui-sref="dashboard" class="btn btn-danger"><i class="fa fa-close"></i> Hủy</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>