<section class="content-header">
    <div class="row">
        <div class="col-md-6 col-xs-10">
            <h1>
                <a ui-sref="admin.dashboard" class="btn btn-link"><i class="fa fa-chevron-left"></i></a>
                <span>Quản lý mẫu email</span>
            </h1>
        </div>
        <div class="col-md-6 col-xs-2 text-right">
            <a ui-sref="core.email-template.detail({ id: null })" class="btn btn-success"><i class="fa fa-plus"></i> Tạo mới</a>
        </div>
    </div>
</section>

<section class="content container-fluid">
    <div class="box box-primary">
        <div class="box-header">
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="$ctrl.paging.size" ng-change="$ctrl.getItems()" ng-options="size for size in [10, 20, 50, 100]"></select>
                    <span class="form-control-static">dòng/trang</span>
                </div>

                <div class="form-group pull-right">
                    <div class="has-feedback">
                        <input type="text" jv-autofocus ng-model="$ctrl.paging.q" ng-change="$ctrl.getItems()" class="form-control" placeholder="Tìm kiếm...">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr class="info">
                        <th>Mã</th>
                        <th>Loại</th>
                        <th>Tên</th>
                        <th style="width: 100px;" class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in $ctrl.items">
                        <td>{{item.code}}</td>
                        <td>{{$ctrl.getTypeName(item.type)}}</td>
                        <td>{{item.name}}</td>
                        <td style="width: 100px;">
                            <a ui-sref="core.email-template.detail({ id: item.key })" class="btn btn-xs btn-warning hint--left" aria-label="Sửa"><i class="fa fa-edit"></i></a>
                            <button type="button" ng-click="$ctrl.delete(item)" class="btn btn-xs btn-danger hint--left" aria-label="Xóa"><i class="fa fa-remove"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6">
                    <p class="form-control-static">Từ {{($ctrl.paging.page - 1) * $ctrl.paging.size + 1}} đến {{$ctrl.paging.page * $ctrl.paging.size > $ctrl.totalItems ? $ctrl.totalItems : $ctrl.paging.page * $ctrl.paging.size}} của {{$ctrl.totalItems}} kết quả</p>
                </div>
                <div class="col-sm-6 text-right">
                    <ul uib-pagination ng-model="$ctrl.paging.page" ng-change="$ctrl.getItems()" total-items="$ctrl.totalItems" max-size="5" class="pagination no-margin" boundary-links="true" force-ellipses="true" items-per-page="$ctrl.paging.size" next-text="&rsaquo;" last-text="&raquo;" first-text="&laquo;" previous-text="&lsaquo;"></ul>
                </div>
            </div>
        </div>
    </div>
</section>