<form name="frm" ng-submit="$ctrl.save(frm)" ng-validate="$ctrl.validationOptions" class="form-horizontal">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h1>
                    <a ui-sref="core.email-template.list" class="btn btn-link"><i class="fa fa-chevron-left"></i></a>
                    <span>Thông tin mẫu email</span>
                </h1>
            </div>
            <div class="col-md-6 col-xs-2 text-right">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">Mã</label>
                            <div class="col-md-8 col-sm-8">
                                <input name="code" type="text" ng-model="$ctrl.emailTemplate.code" ng-disabled="$ctrl.emailTemplate.id" jv-autofocus class="form-control" placeholder="Mã thư điện tử (duy nhất)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">Loại</label>
                            <div class="col-md-8 col-sm-8">
                                <select name="type" ng-model="$ctrl.emailTemplate.type" ng-options="type.key as type.value for type in $ctrl.types | orderBy: type.key" class="form-control">
                                    <option value="">--- Chọn ---</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Tên</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="name" type="text" ng-model="$ctrl.emailTemplate.name" class="form-control" placeholder="Tên thư điện tử" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">TIêu đề</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="subject" type="text" ng-model="$ctrl.emailTemplate.subject" class="form-control" placeholder="Tiêu đề thư điện tử gửi cho người nhận" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">To</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="to" type="text" ng-model="$ctrl.emailTemplate.to" class="form-control" placeholder="Email người nhận" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">CC</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="cc" type="text" ng-model="$ctrl.emailTemplate.cc" class="form-control" placeholder="Các email mặc định được CC" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">BCC</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="bcc" type="text" ng-model="$ctrl.emailTemplate.bcc" class="form-control" placeholder="Các email mặc định được BCC" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label"></label>
                    <div class="col-md-10 col-sm-8">
                        <textarea ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.emailTemplate.content" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>