<ul class="sidebar-menu" data-widget="tree">
    <li ng-repeat="nav in $ctrl.navigations" ng-class="{'treeview menu-open': nav.items.length > 0}">
        <a ng-if="nav.items.length === 0" ui-sref="{{nav.state}}" ui-sref-active="active"><i class="{{nav.icon}}"></i> <span>{{nav.name}}</span></a>

        <a ng-if="nav.items.length > 0" href="javascript:void(0)">
            <i class="fa fa-circle-o"></i><span>{{nav.name}}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul ng-if="nav.items.length > 0" class="treeview-menu" style="display:block;">
            <li ng-repeat="item in nav.items">
                <a ui-sref="{{item.state}}" ui-sref-active="active">
                    <i class="fa fa-angle-double-right"></i>
                    <span>{{item.name}}</span>
                </a>
            </li>
        </ul>
    </li>
</ul>