<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                <!-- <div class="d-flex justify-content-center py-4">
                    <a href="javascript:void(0)" class="logo d-flex align-items-center w-auto">
                        <img src="assets/img/logo.png" alt="">
                        <span class="d-none d-lg-block">Jarvis</span>
                    </a>
                </div> -->

                <div class="card mb-3">

                    <div class="card-body">

                        <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Jarvis</h5>
                            <p class="text-center small">Lightweight admin framework</p>
                        </div>

                        <form class="row g-3 needs-validation" name="frmLogin" ng-submit="$ctrl.login(frmLogin)" ng-validate="$ctrl.validationOptions" novalidate>

                            <div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" ng-model="$ctrl.identity.username" name="username" jv-autofocus class="form-control" id="username" required>
                                <div class="invalid-feedback">Please enter your username.</div>
                            </div>

                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" ng-model="$ctrl.identity.password" name="password" class="form-control" id="password" required>
                                <div class="invalid-feedback">Please enter your password!</div>
                            </div>

                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">Remember me</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Login</button>
                            </div>

                            <div class="col-12">
                                <p class="small mb-0">Don't have account? <a href="javascript:void(0)">Create an account</a></p>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="credits">
                    Created by <a href="https://github.com/hoangnh2412">Hoang Nguyen</a>
                </div>

            </div>
        </div>
    </div>

</section>