<div class="light-style layout-menu-fixed layout-footer-fixed" dir="ltr" data-theme="theme-default" data-assets-path="themes/sneat/dist/assets/" data-template="vertical-menu-template">
    <div class="authentication-wrapper authentication-cover">
        <div class="authentication-inner row m-0">
            <!-- /Left Text -->
            <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center p-5">
                <div class="w-100 d-flex justify-content-center">
                    <img src="themes/sneat/dist/assets/img/illustrations/boy-with-rocket-light.png" class="img-fluid" alt="Login image" width="700">
                </div>
            </div>
            <!-- /Left Text -->

            <!-- Login -->
            <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
                <div class="w-px-400 mx-auto">
                    <!-- Logo -->
                    <div class="app-brand mb-5">
                        <a href="index.html">
                            <span class="app-brand-logo"></span>
                            <span class="app-brand-text text-body fw-bolder fs-1">Jarvis</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Lightweight admin framework</h4>
                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                    <form name="frmLogin" ng-submit="$ctrl.login(frmLogin)" ng-validate="$ctrl.validationOptions">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email or Username</label>
                            <input type="text" ng-model="$ctrl.identity.username" name="username" id="username" class="form-control" placeholder="Enter your email or username" jv-autofocus>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                <a href="auth-forgot-password-cover.html"><small>Forgot Password?</small></a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" ng-model="$ctrl.identity.password" id="password" name="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-grid w-100">Sign in</button>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a ui-sref="identity.auth.register"><span>Create an account</span></a>
                    </p>

                    <div class="divider my-4">
                        <div class="divider-text">or</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                            <i class="tf-icons bx bxl-facebook"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                            <i class="tf-icons bx bxl-google-plus"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                            <i class="tf-icons bx bxl-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>
</div>