<div class="user-panel">
    <div class="pull-left image">
        <img ng-src="{{$ctrl.context.userInfo.avatarPath ? $ctrl.context.userInfo.avatarPath : 'imgs/avatar.png'}}" class="img-circle object-fit-cover" alt="User Image">
    </div>
    <div class="pull-left info">
        <p class="overflow-ellipsis" title="{{$ctrl.context.userInfo.fullName}}">{{$ctrl.context.userInfo.fullName}}</p>
        <small><i class="fa fas fa-birthday-cake text-warning"></i> {{$ctrl.context.createAt | date: 'dd/MM/yyyy'}}</small>
    </div>
</div>