<form name="frmRole" ng-submit="$ctrl.save(frmRole)" ng-validate="$ctrl.validationOptions" class="form-horizontal">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6 col-xs-10">
                <h1>
                    <a ui-sref="identity.management.role.read" class="btn btn-link"><i class="fa fa-chevron-left"></i></a>
                    <span>Thông tin vai trò</span>
                </h1>
            </div>
            <div class="col-md-6 col-xs-2 text-right">
                <button type="submit" class="btn btn-success" ng-disabled="$ctrl.loading"><i class="fa fa-save"></i> Lưu</button>
            </div>
        </div>
    </section>

    <section class="content container-fluid">
        <div class="box box-primary">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Tên</label>
                    <div class="col-md-10 col-sm-8">
                        <input name="name" type="text" ng-model="$ctrl.role.name" jv-autofocus class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Chức năng</label>
                    <div class="col-md-10 col-sm-8">
                        <div class="box box-primary box-solid" ng-repeat="module in $ctrl.modules">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{module.name}}</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-warning btn-box-tool" ng-click="$ctrl.moduleSelectAll(module.code)" data-toggle="tooltip" data-placement="top" title="Chọn tất cả"><i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-danger btn-box-tool" ng-click="$ctrl.moduleUnselectAll(module.code)" data-toggle="tooltip" data-placement="top" title="Bỏ chọn tất cả"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="box box-info no-border no-shadow" ng-repeat="group in module.groups">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"><b>{{group.name}}</b></h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.groupSelectAll(group.code)" data-toggle="tooltip" data-placement="top" title="Chọn tất cả"><i class="fa fa-check"></i></button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.groupUnselectAll(group.code)" data-toggle="tooltip" data-placement="top" title="Bỏ chọn tất cả"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="row" ng-repeat="claim in group.claims">
                                            <div class="col-sm-12 col-md-6">
                                                <div class="checkbox" style="padding-bottom: 7px;">
                                                    <label><input type="checkbox" ng-model="claim.selected"> {{claim.name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>