<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-brand">{{$ctrl.currentTenant.fullName}}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="nav in $ctrl.navigations" ng-class="{'dropdown': nav.items.length > 0, 'active': $ctrl.childIsActive(nav)}" uib-dropdown on-toggle="toggled(open)" auto-close="always">
                        <a ng-if="nav.items.length === 0 && nav.url === null" ui-sref="{{nav.state}}" ui-sref-active="active"><i class="{{nav.icon}}"></i> <span>{{nav.name}}</span></a>
                        <a ng-if="nav.items.length === 0 && nav.url !== null" href="{{nav.url}}" ui-sref-active="active"><i class="{{nav.icon}}"></i> <span>{{nav.name}}</span></a>

                        <a ng-if="nav.items.length > 0 && nav.url === null" uib-dropdown-toggle href="javascript:void(0)"><span>{{nav.name}}</span><span class="caret"></span></a>
                        <ul ng-if="nav.items.length > 0 && nav.url === null" uib-dropdown-menu class="dropdown-menu" role="menu">
                            <li ng-repeat="item in nav.items">
                                <a ui-sref="{{item.state}}" ui-sref-active="active">
                                    <i class="fa fa-angle-double-right"></i>
                                    <span>{{item.name}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li ng-click="$ctrl.openTenants()">
                        <a href="javascript:void(0);">
                            <span>{{$ctrl.currentTenant.fullName}}</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <img ng-src="{{$ctrl.context.userInfo.avatarPath ? $ctrl.context.userInfo.avatarPath : 'imgs/avatar.png'}}" class="user-image" alt="{{$ctrl.context.userInfo.fullName}}">
                            <span class="hidden-xs">{{$ctrl.context.userInfo.fullName}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="imgs/avatar.png" class="img-circle" alt="{{$ctrl.context.userInfo.fullName}}">
                                <p>
                                    <span>{{$ctrl.context.userInfo.fullName}}</span>
                                    <br />
                                    <small>Sử dụng ngày {{$ctrl.context.createAt | date: 'dd/MM/yyyy'}}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a ui-sref="identity.management.profile" class="btn btn-default btn-flat">Tài khoản</a>
                                </div>
                                <div class="pull-right">
                                    <button type="button" ng-click="$ctrl.logout()" class="btn btn-default btn-flat">Đăng xuất</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>