<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <!-- optional, add some variables https://github.com/nlog/NLog/wiki/Configuration-file#variables -->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--https://github.com/NLog/NLog/wiki/AspNetRequest-layout-renderer-->

    <target xsi:type="File" name="debug" fileName="${basedir}/Logs/Debug/${shortdate}.log"
            layout="${date} | ${uppercase:${level}} | ${aspnet-request-ip} | ${aspnet-request-method} | ${aspnet-request-url} | ${message} ${exception:format=ToString,StackTrace}" />

    <target xsi:type="File" name="performance" fileName="${basedir}/Logs/Audit/${shortdate}.log"
            layout="${date} | ${uppercase:${level}} | ${aspnet-request-ip} | ${aspnet-request-method} | ${aspnet-request-url} | ${aspnet-request-querystring} | ${aspnet-request:header=Authorization} | ${message}" />
    
    <target xsi:type="File" name="error" fileName="${basedir}/Logs/Error/${shortdate}.log"
            layout="${date} | ${uppercase:${level}} | ${aspnet-request-ip} | ${aspnet-request-method} | ${aspnet-request-url} | ${aspnet-request-querystring} | ${aspnet-request:header=Authorization} | ${message} ${exception:format=ToString,StackTrace}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" levels="Info,Debug,Trace" writeTo="debug" />
    <logger name="*" levels="Fatal" writeTo="performance" />
    <logger name="*" levels="Error,Warn" writeTo="error" />

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>
