[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.disable-resize {
    resize: none;
}

.panel-heading a:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome'; /* essential for enabling glyphicon */
    content: "\f068"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading a.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; /* adjust as needed, taken from bootstrap.css */
}

.login-page {
    padding: 7% 0;
    height: 100%;
}

.login-box, .register-box {
    margin: auto;
}