.login-page,
.register-page {
  background: #eeeded;
}

.login-box,
.register-box {
  width: 320px;
  margin: 40px auto;
}

@media (max-width: 768px) {

  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.login-box-body,
.register-box-body {
  padding: 0;
}

/* .content-wrapper {
  -webkit-transition: min-height 0.2s ease-in-out;
  -o-transition: min-height 0.2s ease-in-out;
  transition: min-height 0.2s ease-in-out;
  min-height: 738px;
} */

.wrapper {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: absolute;
}

.content-wrapper {
  bottom: 50px;
  /* position: fixed; */
  /* width: 100%; */
  top: 50px;
}

.sidebar-collapse .content-wrapper {
  width: 100%;
}

.main-footer {
  bottom: 0px;
  /* position: fixed; */
  /* width: 100%; */
}


/* Form control */
.form-control {
  border-radius: 6px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.btn {
  border-radius: 6px;
}

.btn-primary {
  border: 1px solid #0d6efd;
  background-color: #0d6efd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.hover {
  color: #fff !important;
  background-color: #0a58ca m !important;
  border-color: #0a53be !important;
}
