.uib-datepicker div:focus {
    outline: none;
}


.uib-datepicker button {
    background: none;
    border: none;
}


    .uib-datepicker button:focus {
        background: none;
    }


.uib-datepicker .btn.disabled, .uib-datepicker .btn[disabled], .uib-datepicker fieldset[disabled] .btn {
    opacity: 0.3;
}


.uib-datepicker .text-muted {
    color: #afafaf;
}


/* .uib-datepicker .active .text-info {
            color: #fff;
        } */

.uib-datepicker .text-info {
    color: #00c5ff;
    font-weight: bold;
}


.uib-datepicker-popup.dropdown-menu {
    padding: 5px;
    margin-top: 3px;
    -webkit-box-shadow: 0 0 10px 1px #f1f1f1;
    box-shadow: 0 0 10px 1px #f1f1f1;
    border: 1px solid #d2d6de;
}