<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>Jarvis</b> 1.0</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Đổi mật khẩu tài khoản <b>{{$ctrl.context.user.userName}}</b></p>

        <form name="frmLogin" ng-submit="$ctrl.login(frmLogin)" ng-validate="$ctrl.validationOptions">
            <div class="form-group has-feedback">
                <input type="password" ng-model="$ctrl.password.oldPassword" name="oldPassword" class="form-control" placeholder="Mật khẩu cũ" jv-autofocus />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" ng-model="$ctrl.password.newPassword" name="newPassword" id="new_password" class="form-control" placeholder="Mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" ng-model="$ctrl.password.confirmPassword" name="confirmPassword" class="form-control" placeholder="Mật khẩu mới">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Xác nhận</button>
                    <a ui-sref="identity.backend.profile" class="btn btn-default btn-block btn-flat">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>